*
{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

/* begin menu */
.menu
{
    width: 100%;
    display: flex;
    background-color: #4b4851;
    align-items: center;
}
.menu-left
{
    width: 30%;
    text-align: center;
}
.menu-left a
{
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: #ffffffd8;
    line-height: 50px;
}
.menu-mid
{
    width: 50%;
}
.menu-mid ul
{
    display: flex;
    list-style: none;
    font-weight: 600;
}
.menu-mid ul li 
{
    padding-right: 5%;
}
.menu-mid ul li a
{
    font-size: 15px;
    text-decoration: none;
    color: #ffffffb0;
    transition: 0.4s;
}
.menu-mid ul li a.trang
{
    color:white;
}
.menu-mid ul li a:hover
{
    color: white;
}    
.menu-right
{
    width: 20%;
    text-align: center;
}
.menu-right a
{
    text-decoration: none;
    color: #ffffffb0;
    padding-right: 5%;
    transition: 0.4s;
    font-weight: 700;
}
.menu-right a:nth-child(3) i
{
    padding-right: 1%;
}
.menu-right a:hover
{
    color: white;
}
/* end menu */

/* Nơi bắt đầu cần viết...... */







/* kết thúc */

/* begin footer */
.container
{
    width: 95%;
    margin: 0 auto;
    background-color: #2b2b2b;
}
._1khoi
{
  padding: 5% 25%;
  text-align: center;
}
._1khoi h1
{
    font-size: 60px;
    letter-spacing: 10px;
    color: #ffffffe1;
}
._1khoi ul
{
    display: flex;
    justify-content: center;
    list-style: none;
}
._1khoi ul li
{
    margin: 3% 0;
    padding: 0% 3%;
    border-right: 1px solid #ffffffbf;
}
._1khoi ul li:nth-child(7)
{
    border-right: none 
}
._1khoi ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #ffffffcc;
    transition: 0.4s;
}
._1khoi ul li a:hover
{
    color: white;
}
._1khoi .icon a i
{
    padding-right: 2%;
    color: #ffffffe1;
    transition: 0.4s;
}
._1khoi .icon a i:hover
{
    color: gray;
}
.block-bottom 
{ 
   background-color: #252525;
   text-align: center;
}
.block-bottom p
{
 line-height: 60px;
 color: #ffffffe1;
 font-size: 14px;
}
.block-bottom p span
{
    font-weight: bold;
    color: white;
}
/* end footer */
